# Rust Backend
papi_backend/debug/
papi_backend/target/
papi_backend/**/*.rs.bk
papi_backend/*.pdb
papi_backend/.env

# Python Pipeline
papi_line/Portability
papi_line/files

# Next Frontend
papi_frontend/.next
papi_frontend/node_modules